
<div class="news">
    <h2>
        <span><img src="./images/c.gif" alt=""/></span>
        News
        <i><img src="./images/s.gif" alt=""/></i>
    </h2>

    <div class="news-div">
        <h3>START YOUR JOURNEY</h3>
        <ul>
            <li>Congrats, matey! You’re good to go</li>
            <li>Just one last bit o’advice. If </li>
            <li>Watch out for the Ghost Shop!</li>
        </ul>
        <button ui-sref="news2">GET STARTED</button>
    </div>
    <div class="swiper-container swiper-o home-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-o">
                    <dl class="home-dl">
                        <dt><img src="./images/news1_1.png" alt=""/></dt>
                        <dd>
                            <h3>An Incredible
                                <p>Journey in Paris</p>
                            </h3>
                            <ul>
                                <li>You will walk through all</li>
                                <li>the famous places...</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="home-dl">
                        <dt><img src="./images/news1_2.png" alt=""/></dt>
                        <dd>
                            <h3>Top Attractions
                                <p>the Great London</p>
                            </h3>
                            <ul>
                                <li>Know all the beauty</li>
                                <li>and splendor of this city...</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-o">
                    <dl class="home-dl">
                        <dt><img src="./images/news1_3.png" alt=""/></dt>
                        <dd>
                            <h3>An Incredible
                                <p>Journey in Paris</p>
                            </h3>
                            <ul>
                                <li>You will walk through all</li>
                                <li>the famous places...</li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="home-dl">
                        <dt><img src="./images/news1_4.png" alt=""/></dt>
                        <dd>
                            <h3>Top Attractions
                                <p>the Great London</p>
                            </h3>
                            <ul>
                                <li>Know all the beauty</li>
                                <li>and splendor of this city...</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

